// MAIN COLORS
$color-primary: #ad0000;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
//Font
$default-font-size: 1.6rem;
