.breadcrumb-link {
    color: $color-primary;
    &:hover {
        color: $color-primary-light;
        font-weight: 900;
    }
    &__active {
        text-decoration: underline;
        color: $color-primary-light;
        font-weight: 900;
        &:hover {
            color: #777
        }
    }
}