.contact-form {
  &__input {
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid $color-primary;
    &:focus,
    &:active {
      border: 1px solid $color-primary;
      outline: none;
    }
  }
  &__textarea {
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid $color-primary;
    &:focus,
    &:active {
      border: 1px solid $color-primary;
      outline: none;
    }
  }
  &__button {
    margin: 1rem 0 1rem 2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    outline: none;
    border-style: none;
    transition: all 0.2s;
    background-color: $color-primary;
    color: $color-white;
    border: 1px solid $color-white;
    &:active,
    &:focus {
      outline: none;
      transform: skewY(1.02);
    }
    &:hover {
      background-color: $color-white;
      color: $color-primary;
      border: 1px solid $color-primary;
      font-weight: 700;
    }
  }
}
