.partners-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  &__logo {
    padding: 0.5rem;
  }
  &__info {
    padding: 0.5rem;
    &--name {
      color: $color-primary;
      font-weight: 700;
    }
    &--phone {
    }
    &--link {
    }
  }
}
@media (max-width: 40.625em) {
  .partners-item__info {
    font-size: 1.2rem;
  }
}
