.news-list__figure {
  transition: all 0.5s;
  border-radius: 2rem;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  height: 15rem;
  width: auto;
}

.news-list__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.8s;
}

.news-list__image {
  transition: all 0.8s;
}

.news-list__button {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  color: $color-primary;
  transition: all 0.8s;
  border: 1px solid $color-primary;
  &:hover {
    outline: none;
    text-decoration: none;
    color: $color-primary-light;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0px);
  }
}

.news-list__figure:hover .news-list__image {
  filter: blur(3px) brightness(90%);
}

.news-list__figure:hover .news-list__caption {
  opacity: 1;
}
